.active,
.navbar-nav a:hover {
  color: #28a745 !important;
}

button a {
  color: #fff;
}
.card,
img,
.card-img-top {
  border: none;
}
.hide {
  display: none;
}

.navbar .navbar-collapse:after {
  background-color: #ffffff;
}

.modal-body {
  padding: 0.8rem;
}
