.active,
.navbar-nav a:hover {
  color: #28a745 !important;
}

button a {
  color: #fff;
}
.card,
img,
.card-img-top {
  border: none;
}
.hide {
  display: none;
}

.badge-custom {
  background-color: #fbc658;
  color: black;
}
.badge {
  padding: 0.4em 0.9em !important;
}
.navbar .navbar-collapse:after {
  background-color: #ffffff;
}
/* @media (min-width: 768px) {
  .fa,
  .fab,
  .fas {
    display: none;
  }
} */
.modal-body {
  padding: 0.8rem;
}
footer a {
  color: #28a745 !important;
}
.modal-header {
  border-bottom: 1px solid #ddd;

  text-align: center;
  display: flex !important;
}
